<script>
// Import
import { each } from "svelte/internal";

// Properties
const city = ["Baltimore", "Chicago", "Los Angeles"];
const line = ["Across all building types", "Within building types"];
$: selected_city = "Baltimore";
$: selected_line = "Across all building types";
</script>

<div class = "buttons">
    <h5> Location </h5>
    {#each city as city}
    <label>
        <input type = radio bind:group = {selected_city} value = {city}
        id = {city} name = "City"/>
        {city}
    </label>
    {/each}
</div>

<div class = "buttons">
    <h5> Scalling </h5>
    {#each line as line}
    <label>
        <input type = radio bind:group = {selected_line} value = {line}
        id = {line} name = "Scalling"/>
        {line}
    </label>
    {/each}
</div>

<style>
    .buttons{
        vertical-align:top;
    }
</style>