<script>
    // Import
    import {extent} from "d3-array";
    import {scaleLinear} from "d3-scale";
    
        
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    
    
    export let data_per = [];
    export let data_all = [];
    export let yScale;
    export let line_width = 5;
    
    let selected_line = "Across all building types";
     
    
    let xScale = scaleLinear().domain([0, 744]).range([100, innerWidth])
    $: { 
        if(selected_line == "Across all building types") {
            yScale = scaleLinear().domain(extent(data_all.map((d) => d.total_heating_energy))).range([line_width, 0])
        }
        else {
            yScale = scaleLinear().domain(extent(data_per.map((d) => d.total_heating_energy))).range([line_width, 0]);
        }
    }
    
    let pathGenerator = () => 
    {
        let path = "M" + xScale(0) + " " + line_width;
        data_per.forEach((d, idx) => {
            path += " " + xScale(idx) + " " + yScale(d.total_heating_energy)
            });
            path += " " + xScale(744) + " " + line_width;
            path += " " + xScale(0)  + " " + line_width;
        return path;
    }
    </script>
    
    <g transfrom = "translate {margin.left + 100}, {margin.top}">
        {#each data_per as data, idx}
        <line x1 = {xScale(idx)} y1 = {yScale (0)} x2 = {xScale(idx)} y2 = {yScale(data.total_heating_energy)}></line>
        {/each}
        <path id = "path" d = {pathGenerator()}></path>
    </g>
    
    <style>
        path{
            stroke: black;
            fill:black;
            fill-opacity:1;
                }
    </style>
    