<script>
// Import
import {scaleLinear} from "d3-scale";
import {extent, filter} from "d3-array";
import {radialArea} from "d3-shape";


// Data
export let data = null;

$: namesCity = [...new Set(data.map((d) => d.city))];



// Size and margins
const width = 600;
const height = 250;
const margin = { top: 10, right: 10, bottom: 10, left: 10 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

// Values
const radius = 75;

// Scales
let yScale_Heating = scaleLinear().domain(extent(data.map((d) => d.heating))).range([0,radius]);
let yScale_Cooling = scaleLinear().domain(extent(data.map((d) => d.cooling))).range([0,radius]);
let xScale = scaleLinear().domain(extent(data.map((d) => d.month))).range([0, 2*Math.PI]);

// Areas
let Area_heating = radialArea().angle(d => xScale(d.month)).innerRadius(0).outerRadius(d => yScale_Heating(d.heating));
let Area_cooling = radialArea().angle(d => xScale(d.month)).innerRadius(0).outerRadius(d => yScale_Cooling(d.cooling));
</script>

<svg>
    <g transform = "translate({innerWidth/2 - 20},{margin.top + 5})">
        <text class = "title"> Heating and cooling within a year</text>
    </g>
    <g transform = "translate({radius}, {height/1.75})">
        {#each namesCity as city, idx}  
        <g transform = "translate({(width/3)*idx},0)"> 
            <text class = "city" transform = "translate(0,-100)" > {city} </text>
            <circle cx = 0 cy = 0 r = {radius}/>
            <line x1 = {radius} x2 = {-radius} y1 = 0 y2 = 0/>
            <line x1 = 0 x2 = 0 y1 = {radius} y2 = {-radius}/>
            <path class = "heating" d = {Area_heating(data.filter(d => d.city == city))}/>
            <path class = "cooling" d = {Area_cooling(data.filter(d => d.city == city))}/>
            <text class = "circle" transform = "translate(0, {-radius - 5})"> 0 </text>
            <text class = "circle" transform = "translate({+radius + 10}, 0)"> 3 </text>
            <text class = "circle" transform = "translate(0, {+radius + 15})"> 6 </text>
            <text class = "circle" transform = "translate({-radius - 15}, 0)"> 9 </text>
    </g>
    {/each}
    <g transform = "translate({margin.left + 70}, {margin.top + 70})">
        <text class = "heating_text"> Heating </text>
    </g>
    <g transform = "translate({margin.left + 275}, {margin.top + 70})">
        <text class = "cooling_text"> Cooling </text>
    </g>

</g>
</svg>

<style>
    circle {
        fill-opacity: 0;
        border: 1px;
        border-radius: 5px;
        stroke: black;
    }
    text.title {
        font-size: 20px;
        text-anchor: middle;
    }
    text.city {
        font-size: 15px;
        text-anchor: middle;
    }
    path.heating {
        stroke: red;
        fill: red;
        stroke-opacity: 0.5;
        fill-opacity: 0.2;
        stroke-width: 1;
    }
    path.cooling {
        stroke: blue;
        fill: blue;
        stroke-opacity: 0.5;
        fill-opacity: 0.2;
        stroke-width: 1;
    }
    text.circle {
        text-anchor: middle;
        text-align: center;
    }
    text.heating_text {
        font-size: 12px;
        fill: red;
    }
    text.cooling_text {
        font-size: 12px;
        fill: blue;
    }
    line {
        stroke: black;
    }
</style>
