<script>
  // Import
  import {onMount} from "svelte";
  import {json} from "d3-fetch";
  
  import Plot from './_design_2_plot.svelte';

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Data
  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json")
  });

</script>

{#if !data}
  <p> Loading data, please wait... </p>
{:else}
<svg {width} {height}>
  <g transform="translate({margin.left + 20}, {margin.top})">
    <Plot data = {data} />
</svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>


