<script>
  // Import 
  import {onMount} from "svelte";
  import {json} from "d3-fetch";
  
  import Controls from "./_design_1_controls.svelte";
  import Plot from "./_design_1_plot.svelte";

   
  
    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    const buildingHeight = innerHeight/16;
  
  // Data import
  
  $: selected_city = "Baltimore";
  $: selected_line = "Across all building types";
  
  
  let yScale;
  
  // Data
  let building_type = [];
  let city_type =[];
  
  
  onMount(async () => {
    datapoints = await json("/data/hourly_heating_december.json")
    .then (data_per => building_type = [...new Set(data_per.map((d) => d.buildingtype))])
    .then (data_all => city_type = [...new Set(data_all.map((d) => d.city))])
  });
  
  </script>
  
  
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each building_type as building_type, idx}
      <text class="building_names" x= 0 y= {buildingHeight*idx}> {building_type.split().join("")}</text>
       {/each}
       <Plot data_per = {building_type} data_all = {city_type}/>
    </g>
  </svg>
  <Controls bind:selected_city = {selected_city} bind:selected_line = {selected_line}/>
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    .building_names {
      font-size: 10px;
    }
  </style>
  
