<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")} class:item = {current === "messi"}> 
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")} class:item = {current === "ronaldo"}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")} class:item = {current === "neymar"}>
  Neymar
</button>

<style>
  .item{ 
    background-color: aquamarine;
  }
</style>