<script>
  // Properties
  // export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];

  export let currentYear = 0;
  export let currentCont = "all";

  let Clicked = false;
  let Paused = true;

  var Timer = setInterval(() => {
    if(!Paused) {
      if(currentYear === 214) {
        currentYear = 0;
      }
    currentYear = currentYear + 1;
    Clicked = true;
    }
  }, 50);

  function stopTimer (){
    Paused = true;
    Clicked = false;
  }

  function startTimer (){
    Paused = false;
    Clicked = true;
  }

  function resetTimer (){
    currentYear = 0;
  }
</script>

<div class = "row" >
  <div>
    {#if !Clicked}
      <button type = "button" class = "btn btn-primary" on:click = {startTimer}> Start </button>
    {:else}
      <button type = "button" class = "btn btn-primary" on:click = {stopTimer}> Stop </button>
    {/if}
      <button type = "button" class = "btn btn-primary" on:click = {resetTimer}> Reset </button>
  </div>
</div>

<div class = "col-5">
  <label class = "form-label col-sm-10">
    Year: {currentYear + 1800}
      <input type = "range" class = "from-range" min="0" max="214"
      step="1" bind:value = {currentYear}>
  </label>
</div>

<div class = "col-3">
  <select id = "continent-select" class = "form-select" bind:value = {currentCont}>
    <option value = "all" selected = "selected"> All </option>
    <option value = "europe"> Europe </option>
    <option value = "asia"> Asia </option>
    <option value = "americas"> Americas </option>
    <option value = "africa"> Africa </option>
  </select>
</div> 

