<script>
    let Clicks = 0;
    function handleClick() {
        Clicks += 1 
    };
    function resetClick() {
        Clicks = 0
    };
</script>

<div>
<button type="button" class="btn btn-primary" on:click={handleClick}>
    Clicked: {Clicks} times
</button>
<button type="button" class="btn btn-danger"  on:click={resetClick}>
    Reset
</button>
</div>

