<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  $: storedLocal2 = [];
  $: storedLocal3 = [];
  $: Stored1 = storedLocal2.map((d,idx) => {if(d == true && 
    storedLocal2[idx] == true) {return true} return false});
  $: Stored2 = storedLocal3.map((d,idx) => {if (d == true &&
    storedLocal3[idx] == true) {return true} return false});
  $: storedBoth = Stored1.map((d,idx) => {if(Stored1[idx] == true &&
  Stored2[idx] == true) {return true} return false});
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {storedBoth} {...s1} bind:storedLocal = {storedLocal2}/>
  <Scatter {data} {storedBoth} {...s2} bind:storedLocal = {storedLocal3}/>
{/if}
