<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  // Import functions
  import { scaleLog } from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';

  // Create scale
  const Scale = scaleLog().domain([1,10]).range([0,innerWidth])

  // Create Axis
  let xAxis=axisBottom(Scale);
  function AxisFunction(a){
      xAxis(select(a))
  }

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as vl}
      <circle cx={Scale(vl)} cy={innerHeight/2} r=10 />
      {/each}
      <text x={innerWidth/2} y={height-margin.top} > x label </text>
  </g>
  <g use:AxisFunction transform="translate({margin.left},{height-"25"})"></g>
</svg>

<style>
  circle{
    fill:steelblue;
  }
  text{
    font-size: small;
  }
</style>