<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Import
  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {schemeDark2} from 'd3-scale-chromatic';

// Create scales
const xScale = scaleLinear().domain([0,10]).range([0,innerWidth]);
const yScale = scaleLinear().domain([0,3]).range([innerHeight,0]);
const colorScale = scaleOrdinal(schemeDark2);

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as vl}
      <line x1={xScale(vl.x)} y1={yScale(vl.y)} x2={xScale(vl.x)} y2={innerHeight}/>
      <circle cx={xScale(vl.x)} cy={yScale(vl.y)} r=5 fill={colorScale(vl.category)}/>
      <text x={xScale(vl.x)} y={yScale(vl.y)-10}>{vl.y}</text>
      {/each}
      <line x1=0 x2={innerWidth} y1={innerHeight} y2={innerHeight}/>
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  line {
    stroke: black;
  }
</style>
