<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Import Scales
  import { scaleLinear } from 'd3-scale';
	import { scaleBand } from 'd3-scale';
	import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  import { axisLeft } from 'd3-axis';
import Card from '$lib/ui/Card.svelte';

  // Create scales
  const xScale = scaleBand().domain(['Netflix','Amazon Prime Video','Disney+','Hulu','Apple TV','Rakuten']).range([0,innerWidth]);
  const yScale = scaleLinear().domain([0,3]).range([innerHeight,0]);

  //Create functions
  let xAxis=axisBottom(xScale);
  function xAxisFunction(a){
      xAxis(select(a))
  }
  let yAxis=axisLeft(yScale);
  function yAxisFunction(a){
    yAxis(select(a))
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
      <text x=0 y=0 transform="translate (25,175) rotate(270)"> Viewers (Millions)</text>
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
    <rect x={xScale(d.service)} y={yScale(d.viewers)} width=75 height={innerHeight-yScale(d.viewers)}/>
    {/each}
  </g>
  <g use:xAxisFunction transform="translate({margin.left},{innerHeight+margin.top})">
  </g>
  <g use:yAxisFunction transform="translate({margin.left}, {margin.top})">
  </g>
</svg>

<style>
  rect{
    fill:steelblue;
  }
  text{
    fill:currentColor;
    font-size:0.75em;
  }
</style>